.codesearch-head {
    padding-bottom: 20px;
}

.pagehead {
    text-align: center;
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 0px;
    margin-bottom: 0px;
    
}

.repo-list-stats {
    float: right;
    margin-top: 5px;
    font-size: 10px;
    font-weight: bold;
    color: #888;
}

.my-3 {
    margin-top: 0px !important;
    margin-bottom: 12px !important;
    margin-left: 40px !important;
}

.flex-table {
    display: table;
}

.search-form-fluid .flex-table-item-primary {
    position: relative;
    padding-right: 6px;
}

.flex-table-item-primary {
    width: 99%;
}

.flex-table-item {
    display: table-cell;
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
}

.flex-table-item {
    display: table-cell;
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
}

.input-block {
    display: block;
    width: 100%;
}

.list-item {
    position: relative;
    padding-top: 10px;
    padding-bottom: 20px;
    list-style: none;
    border-bottom: 1px solid #eee;
}

.paginate-container {
    margin-bottom: 20px;
    text-align: center;
}

.site-footer {
    position: relative;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-top: 10px;
    font-size: 12px;
    line-height: 1.5;
    color: #767676;
    border-top: 1px solid #eee;
}

.site-footer-links {
    list-style: none;
    text-align: center;    
}

.list-float-left{
	margin: 20px;
	float: left;
}

.pagination-sm {
  margin: 0;
}


.clicks {
    float: left;
    margin-right: 20px;
    display: inline-block;
    vertical-align: middle;
}

.vote{
    color: #45A163;
    border-color: #45A163;
    border: 1px solid;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 20px;
}

.mini-counts{
    font-size: 30px;
}


.content{
    margin-top: 0px;
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;
}


.operation{
    margin-top: 10px;
    float: right;
    vertical-align: middle;
}


.topmargin{
    margin-top: 10px;
}

.bluehead{
    background-color: black;
}

.white{
    color: white;
}
.green{
    background-color: black;
    color: white;
}

.inline{
    float: left;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5%;
}

